
.container-fluid {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: black;
}
.abt {
    height: 100%;
    background-color: black;
    padding: 2% 15%;
    text-align: center;
}
.logo {
    width: 50%;
}
#nav-elements {
    color:#C07F00;
}
body {
    color: #C07F00;
}
#avatar {
    border-radius: 100%;

    width: 70%;
}

.playwrite-co-heading {
    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
    padding-top: 25%;
}
p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 0.9rem;
    margin-top: 2%;
    color: #FFF7D4;
}
.skills {
    background-color: white;
    padding: 2% 5%;
    text-align: center;
}
.icons {
    font-size: 5rem;
    padding-left: 5%;
    padding-right: 5%;
    color: #4C3D3D;
}
h3 {
    font-family: "Montserrat";
    font-weight: light;
    color: gray;
    font-size: 1.2rem;
}
#h1-unique {
    font-family: "Montserrat";
    color:black;
    font-size: 1.7rem;
    padding-top: 1.7%;
    font-weight: bold;
}
.why-me {
    text-align: center;
    background-color: black;
    padding-top: 5%;
    padding: 2% 15%;
}
.why-me-h1 {
    font-family: "Major Mono Display", monospace;
    font-weight:bold;
    font-style: normal;
    font-size: 3rem;
    padding-top: 5%;
    padding-bottom: 5%;
}
.card {
    background-color: #C07F00;
    border-radius: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left:5%;
}
h2 {
    padding-top: 10%;
    color: black;
} 
.card-title {
    color: #FFF7D4;
}
.icons-card {
    font-size: 7rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    color: black;
}
.footer {
    text-align: center;
    padding: 2% 15%;
}
.footer-h1 {
    padding-top: 5%;
    padding-bottom: 5%;
    color: black;
    font-family: "Montserrat";
    font-weight: bold;
}
.icon-footer {
    color: black;
    font-size: 7rem;
    padding-bottom: 5%;
}
.icon-footer:hover {
    color:#ff4c68
}
.footerp {
    color: black;
    padding-top: 5%;
}